
<div>

Fecha Inicio:<input type="text" data-ng-model="appointment.dateStart | date: 'yyyy-MM-dd HH:mm'" placeholder="" /><br />
Fecha Fin:<input type="text" data-ng-model="appointment.dateEnd | date: 'yyyy-MM-dd HH:mm'" placeholder="" /><br />
Mascota:<select>
	      <option value="" disabled selected>Selecciona una mascota</option>
	      <option value="1">Option 1</option>
	      <option value="2">Option 2</option>
	      <option value="3">Option 3</option>
	    </select><br>
Estado:<input type="text" data-ng-model="appointment.status" placeholder="" /><br />
note:<input type="text" data-ng-model="appointment.note" placeholder="" /><br />
<br /><br />

<!-- <input type="button" data-ng-show="isNew()" data-ng-click="insert()" value="Insert"> -->
<!-- <input type="button" data-ng-show="!isNew()" data-ng-click="update()" value="Update"> -->

</div>