
<div>
Cita: {{appointment._id}}<br />

Dueño:<input type="text" data-ng-model="appointment.petId.ownerId.firstName" placeholder="" /><br />
Mascota:<input type="text" data-ng-model="appointment.petId.name" placeholder="" /><br />
Fecha cita:<input type="text" data-ng-model="appointment.dateStart" placeholder="" /><br />
Estado:<input type="text" data-ng-model="appointment.status" placeholder="" /><br />
note:<input type="text" data-ng-model="appointment.note" placeholder="" /><br />
<br /><br />

<!-- <input type="button" data-ng-show="isNew()" data-ng-click="insert()" value="Insert"> -->
<!-- <input type="button" data-ng-show="!isNew()" data-ng-click="update()" value="Update"> -->

</div>