<div data-ng-controller="CustomerDetailsController">
CustomerDetailsController {{customer._id}}<br />

dni:<input type="text" data-ng-model="customer.dni" placeholder="" /><br />
lastName:<input type="text" data-ng-model="customer.lastName" placeholder="" /><br />
firstName:<input type="text" data-ng-model="customer.firstName" placeholder="" /><br />
phone:<input type="text" data-ng-model="customer.phone" placeholder="" /><br />
email:<input type="text" data-ng-model="customer.email" placeholder="" /><br />
note:<input type="text" data-ng-model="customer.note" placeholder="" /><br />
<br /><br />

<input type="button" data-ng-click="submit()" value="Guardar"/>
<input type="button" data-ng-click="cancel()" value="Cancelar"/>

<br />
<br />

<ul>
	<li data-ng-repeat="pet in customerPets">
	{{pet}}
	<a data-ng-href="/pets/{{pet._id}}">Detalles Mascota</a>
	</li>
</ul>
<a href="/customers/{{customer._id}}/pets/new">Añadir Mascota</a>

</div>