<div data-ng-controller="PetDetailsController">

	<div class="row">
        <form class="col s12">

            <div class="row">
				<directive-form-input data-col="s6" data-label="Nombre" data-model="pet.name" data-id="name"></directive-form-input>
				<directive-form-input data-col="s6" data-label="Nacimiento" data-model="pet.birthdate" data-id="birthdate"></directive-form-input>                
            </div>

            <div class="row">
	            <directive-form-input data-col="s6" data-label="Especie" data-model="pet.specie" data-id="specie"></directive-form-input>
	            <directive-form-input data-col="s6" data-label="Raza" data-model="pet.race" data-id="race"></directive-form-input>                
            </div>

            <div class="row">
            	<directive-form-input data-col="s6" data-label="Nº Chip" data-model="pet.chipNumber" data-id="chip"></directive-form-input>
	            <directive-form-input data-col="s6" data-label="Foto" data-model="pet.photoUrl" data-id="photo"></directive-form-input>              
            </div>

            <div class="row">
            	<directive-form-area data-col="s12" data-label="Descripción" data-model="pet.description" data-id="textarea1"></directive-form-area>                
            </div>


            <button class="btn waves-effect waves-light" data-ng-show="isNew()" data-ng-click="insert()">Guardar
				<i class="material-icons right">save</i>
			</button>
			
			<button class="btn waves-effect waves-light" data-ng-show="!isNew()" data-ng-click="update()">Actualizar
				<i class="material-icons right">save</i>
			</button>

            <button class="btn waves-effect waves-dark" data-ng-show="!isNew()" data-ng-click="remove()">Eliminar
				<i class="material-icons right">cancel</i>
			</button>

        </form>
    </div>

</div>